
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;

  & > .movie {
    flex: 1 1 10ch;
    margin: .5rem;
  }
}

.form-title {
  border: none;
  background: white;
  border-radius: .25rem;
  padding: .75rem 1rem;
  }

.form[type="submit"] {
    background: hotpink;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem white(0 50% 80%);
  }
