
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  padding: 20px;
  margin: 10px;
}

.form-title {
  border: none;
  background: white;
  border-radius: .25rem;
  padding: .75rem 1rem;
  }

.form-total {
  display: block;
  justify-content: center;
  align-items: center;
  background: white

}

.form-picture {
  margin: 10px;
}

.form-button {
  margin: 10px;
}
